<div class="container">
  <h3><%= link_to "< Back to #{@brand.name}", admin_brand_path(@brand) %></h3>
  <h2>Edit <%= "#{@car.model} #{@car.displacement} #{@car.submodel}" %></h2>
  <%= simple_form_for([:admin, @brand, @car]) do |f| %>
    <%= f.error_notification %>
    <%= f.input :model, label: 'Model name: ' %>
    <%= f.input :chinese_model %>
    <%= f.input :submodel %>
    <%= f.input :chinese_submodel %>
    <%= f.input :generation %>
    <%= f.input :made_in %>
    <%= f.input :year %>
    <%= f.input :displacement, label: '排氣量 (千c.c.)' %>
    <%= f.input :door_num %>
    <%= f.input :is_hybrid %>
    <%= f.input :is_electric_vehicle %>
    <%= f.input :airbag_num %>
    <%= f.input :has_airbag_at_driver_front, label: '駕駛座前方氣囊' %>
    <%= f.input :has_airbag_at_passenger_front, label: '副駕駛座前方氣囊' %>
    <%= f.input :has_airbag_at_driver_knee, label: '駕駛座膝部氣囊' %>
    <%= f.input :has_airbag_at_passenger_knee, label: '副駕駛座膝部氣囊' %>
    <%= f.input :has_airbag_at_center %>
    <%= f.input :has_airbag_for_pedestrian %>
    <%= f.input :has_airbags_at_front_side_torso, label: '前座側方氣囊' %>
    <%= f.input :has_airbags_at_rear_side_torso %>
    <%= f.input :has_airbags_at_side_curtain, label: '車側氣廉' %>
    <%= f.input :has_airbags_at_seat_belt %>
    <%= f.input :has_esp, label: 'ESP' %>
    <%= f.input :esp_name, label: 'ESP name' %>
    <%= f.input :has_abs, label: 'ABS'%>
    <%= f.input :has_eba, label: 'EBA' %>
    <%= f.input :has_ebd, label: 'EBD' %>
    <%= f.input :has_isofix, label: 'ISOFIX' %>
    <%= f.input :retail_price, label: 'Price' %>
    <%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary" %>
  <% end %>
</div>
