<div class="container">
	<h3><%= link_to "< Back to #{@brand.name}", admin_brand_path(@brand) %></h3>
	<h2>Add a new car</h2>

	<div class="col-md-12">
	<%= simple_form_for([:admin, @brand, @car], html: { class: 'form-horizontal' }) do |f| %>
		<%= f.error_notification %>
		<%= f.input :model, label: 'Model name: ' %>
		<%= f.input :chinese_model %>
		<%= f.input :submodel %>
		<%= f.input :chinese_submodel %>
		<%= f.input :generation %>
		<%= f.input :made_in %>
		<%= f.input :year %>
		<%= f.input :displacement %>
		<%= f.input :door_num %>
		<%= f.input :is_hybrid %>
		<%= f.input :is_electric_vehicle %>
		<%= f.input :airbag_num %>
		<%= f.input :has_airbag_at_driver_front %>
		<%= f.input :has_airbag_at_passenger_front %>
		<%= f.input :has_airbag_at_driver_knee %>
		<%= f.input :has_airbag_at_passenger_knee %>
		<%= f.input :has_airbag_at_center %>
		<%= f.input :has_airbag_for_pedestrian %>
		<%= f.input :has_airbags_at_front_side_torso %>
		<%= f.input :has_airbags_at_rear_side_torso %>
		<%= f.input :has_airbags_at_side_curtain %>
		<%= f.input :has_airbags_at_seat_belt %>
		<%= f.input :has_esp %>
		<%= f.input :esp_name %>
		<%= f.input :has_abs %>
		<%= f.input :has_eba %>
		<%= f.input :has_ebd %>
		<%= f.input :has_isofix %>
		<%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary" %>
	<% end %>
	</div>
</div>
