<div class="span12">
  <div class="brand">
    <h2><%= link_to 'New brand', new_admin_brand_path, class: "btn btn-mini btn-primary pull-right" %></h2>
  </div>
</div>

<div>
  <ul>
    <% @brands.each do |brand| %>
    <li> <%= link_to brand.name, admin_brand_path(brand) %> (<%= link_to 'edit', edit_admin_brand_path(brand) %>)
      <ul>
        <li><%= brand.parent_company %></li>
        <li><%= brand.website_tw %></li>
        <li><%= brand.website_global %></li>
        <li><%= brand.headquarters %></li>
      </ul>
    </li>
    <% end %>
  </ul>
</div>
