<h3>歡迎編輯資料</h3>

<% unless user_signed_in? %>

  <h3>請先 <%= link_to '登入', new_user_session_path %> 或 <%= link_to '註冊', new_user_registration_path %></h3>

<% else %>

  <h4>本頁為<span style="color: #3300ff"><b>車系</b></span>列表。若您想新增<span style="color: #cc0000"><b>車款</b></span>，請先進入對應的<span style="color: #3300ff"><b>車系</b></span></h4>
  <h4>若不存在您想新增或編輯的<span style="color: #3300ff"><b>車系</b></span>，請再新增<span style="color: #3300ff"><b>車系</b></span></h4>
  <h5>說明：</h5>
  <h5>1：CIVIC 為<span style="color: #3300ff"><b>車系</b></span>，此<span style="color: #3300ff"><b>車系</b></span>底下之<span style="color: #cc0000"><b>車款</b></span>有 1.8 VTi / 1.8 VTi-S / 2.0 S 共三<span style="color: #cc0000"><b>車款</b></span></h5>
  <h5>2：CT 200h為<span style="color: #3300ff"><b>車系</b></span>，此<span style="color: #3300ff"><b>車系</b></span>底下之<span style="color: #cc0000"><b>車款</b></span>有 菁英版 / 豪華版 / 頂級NAVI版 / F SPORT 菁英版 / F SPORT 豪華版 / F SPORT 頂級NAVI版 共六<span style="color: #cc0000"><b>車款</b></span></h5>

  <ul>

    <% @brands.each do |brand| %>
      <hr>
      <li><h4><%= brand.name %></h4>

        <ul>

        <% brand.models.order(:name).each do |model| %>
          <li><%= link_to "#{model.name}", contributions_brand_model_path(brand, model) %> <%= "（#{model.cars.not_published.size}）" %> </li>
        <% end %>
          <li><%= link_to '點我增加新車系', new_contributions_brand_model_path(brand) %></li>

        </ul>

      </li>

    <% end %>

  </ul>

<% end %>

