<div class='posted-comments-wrapper'>
  <%= div_for(comments, class: 'each-comment') do |c| %>
    <span class='comment-user-name'><%= c.user.name %></span> <span class='comment-time'><%= time_ago_in_words(c.created_at.localtime) %> ago</span><span style='color: gray'> 說：</span>
    <p>
      <%= c.content_html %>
    </p>
    <% if current_user && current_user.admin? %>
    <div style='text-align: right'>
      <% if model.present? && c.comment_on == 'MODEL' %>
        <%= link_to '刪除', model_comment_path(model, c), method: :delete, confirm: '確定刪除？' %>
      <% end %>

      <% if c.comment_on == 'CONTRIBUTIONS' %>
        <%= link_to '刪除', contributions_comment_path(c), method: :delete, confirm: '確定刪除？' %>
      <% end %>
    </div>
    <% end %>

  <% end %>
</div>
