<div id="header" class='navbar navbar-default navbar-static-top'>
  <div class="container">

    <div class="navbar-header">
      <%= link_to '安心上路', root_path, class: 'navbar-brand' %>
    </div>

    <!-- <div class="navbar-collapse collapse"> -->

      <ul class="nav navbar-nav">
        <li><%= link_to '查配備', models_path %></li>
        <li><%= link_to '篩選', controller: '/search', action: 'index' %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!-- admin area -->
        <% if current_user && current_user.admin? %>
          <li><%= link_to 'admin panel', rails_admin_path , class: 'pull-right' %></li>
        <% end %>

        <li><%= link_to '協助編輯車款資料', contributions_path, class: 'pull-right' %></li>

        <!-- signed in -->
        <% if user_signed_in? %>
          <li><%= link_to '登出', destroy_user_session_path, class: 'pull-right' %></li>

        <!-- not signed in -->
        <% else %>
          <li><%= link_to '臉書登入', user_omniauth_authorize_path(:facebook), class: 'pull-right' %></li>
        <% end %>
      </ul>

    <!-- </div> -->

  </div>
</div>
