<!DOCTYPE html>
<html>
<head>

  <%= render 'layouts/head' %>

  <!-- For Google -->
  <meta name="description" content="安心上路提供清晰易讀的車輛安全配備資訊，讓購車者都能買到安全的車">
  <meta name="keyword" content="車輛安全,車輛安全配備,安全配備">

  <!-- For Facebook -->
  <%= display_meta_tags :og => {:title => '安心上路',
                                :type => 'car.safety',
                                :url => request.original_url,
                                :description => "安心上路提供清晰易讀的車輛安全配備資訊，讓購車者都能買到安全的車！"} %>

</head>

<body>
<div class="site-container">

  <%= render 'layouts/header' %>

  <div id="middle-container">
    <div id="middle-inner-container">

      <%= yield %>

    </div>
  </div>

  <%= render 'layouts/footer' %>

</div>
</body>
</html>
