<!DOCTYPE html>
<html>
<head>

  <%= render 'layouts/head' %>

  <!-- For Google -->
  <%= display_meta_tags :title => "#{render_brand_and_model_name(@model)} 安全配備一覽表" %>
  <%= display_meta_tags :keywords => "#{@model.brand.name},#{@model.name},#{render_brand_and_model_name(@model)},車輛安全,車輛安全配備,安全配備,安心上路" %>
  <%= display_meta_tags :description => "#{render_brand_and_model_name(@model)} 的安全配備一覽表" %>

  <!-- For Facebook -->
  <%= display_meta_tags :og => {:title => "#{render_brand_and_model_name(@model)} 安全配備一覽表",
                                :type => 'car.safety',
                                :url => request.original_url,
                                :description => "#{render_brand_and_model_name(@model)} 的安全配備一覽表。安心上路提供最齊全的汽車安全配備比較！"} %>

</head>

<body>
<div class="site-container">

  <%= render 'layouts/header' %>

  <div id="middle-container">
    <div id="middle-inner-container">

      <%= render 'layouts/model_list_sidebar' %>

      <div id="content-container">

        <%= yield %>

      </div>

    </div>
  </div>

  <%= render 'layouts/footer' %>

</div>
</body>
</html>
