<!DOCTYPE html>
<html>
<head>

  <%= render 'layouts/head' %>
  <meta description="安心上路專注於提供車輛安全配備資訊，讓購車者都能買到安全的車">
  <meta keyword="車輛安全,車輛安全配備,安全配備">

</head>

<body>
<div class="site-container">

  <%= render 'layouts/header' %>

  <div id="middle-container">
    <div id="middle-inner-container">

      <%= render 'layouts/model_list_sidebar' %>

      <div id="content-container">

        <%= yield %>

      </div>

    </div>
  </div>

  <%= render 'layouts/footer' %>

</div>
</body>
</html>
