<!DOCTYPE html>
<html>
<head>

  <%= render 'layouts/head' %>

  <!-- For Google -->
  <meta description="安心上路的安全配備篩選功能，讓購車者快速篩選出符合心目中安全配備都具備的好車。">
  <meta keyword="車輛安全,車輛安全配備篩選,安全配備篩選,車輛安全配備搜尋,安全配備搜尋">

  <!-- For Facebook -->
  <%= display_meta_tags :og => {:title => '安心上路',
                                :type => 'car.safety',
                                :url => request.original_url,
                                :description => "快速篩選出符合心目中安全配備都具備的好車！"} %>

</head>

<body>
<div class="site-container">

  <%= render 'layouts/header' %>

  <div id="middle-container">
    <div id="search-result-container">

      <%= yield %>

    </div>
  </div>

  <%= render 'layouts/footer' %>

</div>
</body>
</html>
